@using Dealership.Models;

<h1>Cars List</h1>
@if (Model.Count == 0)
{
    <p>There are no cars in the list.</p>
}
<ul>
    @foreach (Car car in Model)
    {
        <li>
            <ul>
                <li>Make Model: @car.MakeModel</li>
                <li>Price: @car.Price</li>
                <li>Miles: @car.Miles</li>
            </ul>
        </li>
    }
</ul>

<a href="/cars/new">Add a new car.</a>